/* general */
.text--small {
  font-size: 0.8rem;
}

.text--bold {
  font-weight: 700;
}

.text--headings {
  font-family: var(--font--headings);
}

.block--padding {
  padding: 2rem 5%;
}

button {
  width: 15rem;
  height: 3rem;
  border-radius: 10rem;
  border: none;
  background: linear-gradient(90deg, var(--clr--cta-gradient-1), var(--clr--cta-gradient-2));

  font-family: var(--font--body);
  font-size: 1rem;
  font-weight: 700;
  color: white;
}

button:hover {
  cursor: pointer;
  background: var(--clr--button-hover);
}

h1 {
  font-size: 2.5rem;
}

/* nav */

.nav {
  background: var(--clr--header-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 140px;
}

.nav__item-container {
  display: flex;
  gap: 2rem;
}

.nav__item {
  min-width: 70px;
  display: flex;
  justify-content: center;
}

.nav__item:hover {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 700;
}

/* header */

.header {

  background-color: var(--clr--header-bg);
  background-image: url("./assets/images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100% 280px;
  background-position: bottom -20px left;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.header__content-container {
  max-width: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.header__hero-img-wrapper {
  width: 100%;
}

.header__hero-img {
  width: 100%;
}

.header__description {
  padding: 0 2rem;
  max-width: 80%;
}

/* main */

.main {
  background: var(--clr--main-bg);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
}

/* feature: general list */

.general-features {
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5rem;
}

.general-features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.general-features__img {
  width: auto;
  height: 6rem;
  margin-bottom: 1rem;
}

/* highlight feature */

.highlight-feature {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.highlight-feature__img-wrapper {
  width: 50%;
}

.highlight-feature__img {
  width: 100%;
}

.highlight-feature__content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.highlight-feature__content h1 {
  max-width: 300px;
}

.highlight-feature__cta {
  width: fit-content;
  color: var(--clr--cta-gradient-1);
  display: flex;
  align-items: center;
  gap: 4px;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--clr--cta-gradient-1);
}

.highlight-feature__cta:hover {
  cursor: pointer;
  color: white;
  border-bottom: 1px solid white;
  filter: brightness(0) saturate(100%) invert(100%) sepia(49%) saturate(0%) hue-rotate(330deg) brightness(107%) contrast(101%);
}

/* testimonials */

.testimonial {
  padding: 3rem 2rem;
  display: flex;
  gap: 2rem;

  background-image: url("./assets/images/bg-quotes.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto 20%;

  margin-bottom: 300px;
}

.testimonial__card {
  max-width: 400px;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  background: var(--clr--feature-bg);
  box-shadow: 0.5rem 0.5rem 0 0 var(--clr--header-bg);

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.testimonial__profile-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.testimonial__avatar {
  width: 3rem;
  border-radius: 50%;
}

.testimonial__person-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

/* floating email sign up */

.floating__email-sign-up {
  max-width: 800px;
  padding: 2rem 4rem;
  padding-bottom: 0.5rem;
  background: var(--clr--header-bg);
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;

  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);

  border: 1px solid green;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}

.form {
  min-height: 80px;
  width: 100%;
  text-align: start;
}

.form__input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form__email {
  width: calc(100% - 15rem - 2rem);
  border-radius: 10rem;
  border: none;

  display: flex;
  align-items: center;
  padding: 0 2rem;

  font-family: var(--text--body);
}

.text--error {
  padding: 0.5rem 2rem;
  font-size: 0.8rem;
  color: var(--clr--error);
}

/* footer */

.footer {
  padding-top: 200px;

  background: var(--clr--footer-bg);

  display: flex;
  flex-direction: column;
  gap: 5rem;

  position: relative;
}

.footer__logo-wrapper {
  width: 10rem;
}

.footer__logo {
  width: 100%;
}

.footer__content-container {
  display: flex;
  justify-content: space-between;
}

.footer__contact-container {
  max-width: 350px;
  display: flex;
  gap: 1.5rem;
}

.footer__contact-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__contact-icon {
  width: auto;
  height: 1.2rem;
}

.footer__sitemap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__sitemap-item {
  min-width: 80px;
}

.footer__sitemap-item:hover {
  cursor: pointer;
  font-weight: 700;
}

.footer__social-container {
  display: flex;
  gap: 2rem;
}

.footer__social-item {
  width: 2rem;
  height: 2rem; 
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social-item:hover {
  cursor: pointer;
  color: var(--clr--cta-gradient-1);
  border: 1px solid var(--clr--cta-gradient-1);
}